<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Add Category </h4>
                <p class="text-muted font-14 mb-4">Enter the Category details.</p>
                <form method="post" action="{% url 'categorysave' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Category Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="example-text-input" placeholder="Enter Category Name" name="category">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea rows="5" cols="5" class="form-control" placeholder="Describe the category" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Upload File</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="categoryimage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label"></label>
                        <button type="submit" class="btn btn-outline-dark mb-3 col-sm-2">Add</button>
                    </div>
                </form>
                
                
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {% if messages %}
            {% for i in messages %}
                {% if i.tags == 'warning' %}
                    <script>
                        swal('{{i}}','', 'warning')
                    </script>
                {% elif i.tags == 'error' %}
                    <script>
                        swal('{{i}}','', 'error')
                    </script>
                {% else %}
                    <script>
                        swal('{{i}}','', 'success')
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}    



</body>
</html>
{% endblock %}