<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Details Of Product</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th>Category</th>
                                    <th>Product</th>
                                    <th>Brand</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in data %}
                                <tr>
                                    <td>{{c.Categoryname}}</td>
                                    <td>{{c.Productname}}</td>
                                    <td>{{c.Brandname}}</td>
                                    <td>{{c.Price}}</td>
                                    <td>{{c.Pro_description}}</td>
                                    <td>
                                        <img src="{{c.Pro_image.url}}" alt="" width="100px" height="100px">
                                    </td>
                                    
                                    
                                    <td>
                                        <form action="{% url 'product_edit' dataid=c.id %}">
                                            <button class="btn btn-success waves-effect waves-light ti-pencil-alt" type="submit" style="border-radius: 10px;"></button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{% url 'product_del' dataid=c.id %}">
                                            <button class="btn btn-danger waves-effect waves-light ti-trash" type="submit" style="border-radius: 10px;"></button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}